# Compose project name for Docker Desktop grouping
name: ${COMPOSE_PROJECT_NAME:-dartwing}
services:
  dartwing-dev:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USERNAME: ${USER:-vscode}
        USER_UID: ${UID:-1000}
        USER_GID: ${GID:-1000}
    container_name: dartwing-frappe
    volumes:
      # Workspace
      - ../:/workspace:cached

      # Mount the Frappe bench from the main frappe project on host
      - /home/brett/projects/frappe/development/frappe-bench:/workspace/development/frappe-bench:rw

      # Mount Docker socket to enable docker commands inside container
      - /var/run/docker.sock:/var/run/docker.sock:rw
      
      # Shell configurations
      - ~/.zshrc:/home/${USER:-vscode}/.zshrc:ro
      - ~/.bashrc:/home/${USER:-vscode}/.bashrc:ro
      - ~/.oh-my-zsh:/home/${USER:-vscode}/.oh-my-zsh:ro
      - ~/.p10k.zsh:/home/${USER:-vscode}/.p10k.zsh:ro
      
      # Git configuration
      - ~/.gitconfig:/home/${USER:-vscode}/.gitconfig:ro
      
      # SSH configurations and keys
      - ~/.ssh/config:/home/${USER:-vscode}/.ssh/config:ro
      - ~/.ssh/id_ed25519:/home/${USER:-vscode}/.ssh/id_ed25519:ro
      - ~/.ssh/id_ed25519.pub:/home/${USER:-vscode}/.ssh/id_ed25519.pub:ro
      - ~/.ssh/id_rsa_ado:/home/${USER:-vscode}/.ssh/id_rsa_ado:ro
      - ~/.ssh/id_rsa_ado.pub:/home/${USER:-vscode}/.ssh/id_rsa_ado.pub:ro
      - ~/.ssh/known_hosts:/home/${USER:-vscode}/.ssh/known_hosts:ro
    command: sleep infinity
    networks:
      - frappe-network
    environment:
      # Connect to existing Frappe infrastructure services
      - DB_HOST=frappe-mariadb
      - DB_PORT=3306
      - REDIS_CACHE=frappe-redis-cache:6379
      - REDIS_QUEUE=frappe-redis-queue:6379
      - REDIS_SOCKETIO=frappe-redis-socketio:6379

networks:
  # Reference the external network created by the main frappe devcontainer
  frappe-network:
    name: frappe-network
    external: true
